




educationRequirements - Schema.org Property



























Schema.org









Docs


Schemas


Validate


About



 








Note: you are viewing the development
    version of Schema.org.
    See How we work for more details.
  







educationRequirements
A Schema.org Property


This term is in the "new" area - implementation feedback and adoption from applications and websites can help improve our definitions.



Thing 
            
                
                     > 
                
            
					
    
    
    Property 
            
                
                     :: 
                
            
					
    
    
    educationRequirements





[more...]


 Canonical URL: https://schema.org/educationRequirements 

Check for open issues.




Educational background needed for the position or Occupation.
 

Values expected to be one of these types


EducationalOccupationalCredential

Text



Used on these types


JobPosting

Occupation






Source
https://github.com/schemaorg/schemaorg/issues/1698
https://github.com/schemaorg/schemaorg/issues/1779




Examples

Example 1 



Copied




No Markup
Microdata
RDFa
JSON-LD
Structure


Example notes or example HTML without markup.

<h1>Occupation: Research Scientist</h1>
<h2>educationRequirements"</h2>
<p>PhD or equivalent<p>



Example encoded as Microdata embedded in HTML.

<div itemscope itemtype="https://schema.org/Occupation">
 <h1>Occupation: <span itemprop="name"> Research Scientist</span></h1>
 <h2>qualifications</h2>
 <p itemprop="educationRequirements" itemscope
    itemtype="https://schema.org/EducationalOccupationalCredential">
  <span itemprop="educationalLevel">PhD or equivalent</span>
 </p>
</div>



Example encoded as RDFa embedded in HTML.

<div vocab="https://schema.org/" typeof="https://schema.org/Occupation">
 <h1>Occupation: <span property="name"> Research Scientist</span></h1>
 <h2>qualifications</h2>
 <p property="educationRequirements"
    typeof="https://schema.org/EducationalOccupationalCredential">
  <span property="educationalLevel">PhD or equivalent</span>
 </p>
</div>



Example encoded as JSON-LD in a HTML script tag.

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Occupation",
  "name": "Research Scientist",
  "qualifications": {
    "@type": "EducationalOccupationalCredential",
    "educationalLevel": "PhD or equivalent"
  }
}
</script>



Structured representation of the JSON-LD example.
 


{
  "@context": "https://schema.org/",
  "@type": "Occupation",
  "name": "Research Scientist",
  "qualifications": {
    "@type": "EducationalOccupationalCredential",
    "educationalLevel": "PhD or equivalent"
  }
}


Example 2 



Copied




No Markup
JSON-LD
Structure


Example notes or example HTML without markup.

Example of Job markup for experience standing in place of formal qualifications.



Example encoded as JSON-LD in a HTML script tag.

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Software Engineer",
  "educationRequirements": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "bachelor degree"
  },
  "experienceRequirements": {
    "@type": "OccupationalExperienceRequirements",
    "monthsOfExperience": "60"
  },
  "experienceInPlaceOfEducation": true
}
</script>



Structured representation of the JSON-LD example.
 


{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Software Engineer",
  "educationRequirements": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "bachelor degree"
  },
  "experienceRequirements": {
    "@type": "OccupationalExperienceRequirements",
    "monthsOfExperience": "60"
  },
  "experienceInPlaceOfEducation": true
}


 



          V23.0
          2023-10-17
      
Terms and conditions





