




experienceRequirements - Schema.org Property



























Schema.org









Docs


Schemas


Validate


About



 








Note: you are viewing the development
    version of Schema.org.
    See How we work for more details.
  







experienceRequirements
A Schema.org Property





Thing 
            
                
                     > 
                
            
					
    
    
    Property 
            
                
                     :: 
                
            
					
    
    
    experienceRequirements





[more...]


 Canonical URL: https://schema.org/experienceRequirements 

Check for open issues.




Description of skills and experience needed for the position or Occupation.
 

Values expected to be one of these types


OccupationalExperienceRequirements

Text



Used on these types


JobPosting

Occupation






Source
https://github.com/schemaorg/schemaorg/issues/1698



 



          V23.0
          2023-10-17
      
Terms and conditions





